.Choice-Container{
    margin-top: 2vh;
    margin-right: 18vw;
    margin-left: 18vw;
    border: 1px solid black;
}
label{
    color:aliceblue;
}
input{
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-right: 2vw;
}
.course-input{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(88, 141, 132, 0.5) ;
    margin-left: 27.7%;
    margin-top: 1vh;
    height: 100%;
    width: 10;
}