.Choice-Container{
    margin-top: 2vh;
    margin-right: 18vw;
    margin-left: 18vw;
    border: 1px solid black;
}
label{
    color:aliceblue;
}
input{
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-right: 2vw;
}
.course-input{
    position: absolute;
    width: 13.3%;
    background-color: rgba(0, 0, 255, 0.3);
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
    font-size: 1vw; 
    white-space: nowrap; 
    overflow: hidden; 
    margin: 0;
    }
.schedule-container{
    position: relative;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;  
    align-items: flex-start;  
    width: 80%;
    height: 100%;  
    padding: 10px;  
    box-sizing: border-box; 
    margin: auto;
}
.parent{
    height: 70vh;
    
}